smithy-core==0.0.2
aws-sdk-signers==0.0.3
aws_sdk_bedrock_runtime==0.0.2
smithy-aws-core==0.0.3
smithy-http==0.0.1
smithy-json==0.0.1
smithy-aws-event-stream==0.0.1

boto3>=1.37.31
cryptography>=41.0.5
jwcrypto>=1.4.2
pyjwt>=2.6.0
python-dotenv>=1.1.0
websockets>=15.0.1
requests
mcp>=1.0.0
fastmcp==2.10.1
pydantic>=2.0.0,<2.12.0
dotenv